.index {
  height: 100%;
  width: 100%;
  background: var(--gray-0);
  overflow-x: hidden;
  overflow-y: auto;
  .codeBox {
  }
  .item {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .bubbleWrap {
      display: inline-flex;
      align-items: center;
      .bubble {
        border-radius: 8px;
        padding: 0 12px;
        max-width: 100%;
        p {
          margin: 8px 0;
          line-height: 1.8;
        }
      }
    }
    .time {
      padding: 0 6px;
      height: 20px;
      display: flex;
      align-items: center;
      font-size: 12px;
      color: var(--gray-2);
      max-width: 100%;
      overflow: hidden;
      gap: 12px;
      .state {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .user {
    .bubble {
      background: var(--color-primary);
      color: #fff;
    }
  }
  .chatgpt {
    .bubble {
      background: #fff;
      color: #333;
    }
    .retryAction {
      padding-left: 8px;
      &:hover {
        color: var(--color-primary);
      }
    }
  }
}

.dark {
  .chatgpt {
    .bubble {
      background: rgba($color: #fff, $alpha: 0.08);
      color: #fff;
    }
  }
}

