.index {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  .conversations {
    flex-shrink: 0;
    width: 180px;
    border-right: 1px solid var(--gray-0);
  }
  .main {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .top {
      flex: 1;
      overflow: hidden;
      position: relative;
      .recommendTopic {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }

    .bottom {
      border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
      height: 108px;
      position: relative;
      .dragLine {
        cursor: n-resize;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 4px;
      }
    }

    .empty {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 200px;
      }
      .tip,
      .action {
        margin-top: 12px;
      }
      .tip {
        font-size: 12px;
        color: var(--gray-6);
      }
    }
  }
}

.dark {
  .main {
    .bottom {
      border-top: 1px solid rgba($color: #fff, $alpha: 0.1);
    }
  }
}

