* {
  box-sizing: border-box;
  &::-webkit-scrollbar-track-piece {
    background-color: var(--scrollbar-track-piece--background-color);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb--background-color);
    border-color: var(--scrollbar-thumb--border-color);
  }
}

textarea {
  border: none;
  outline: none;
  font-size: 14px;
  background: transparent;
  color: var(--gray-8);
  font-family: inherit;
}

body,
html {
  padding: 0;
  margin: 0;
  color: var(--gray-8);
}

