:root {
  --color-primary: #1890ff;
  --shadow-1-down: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014,
    0 9px 28px 8px #0000000d;

  --base-color: #fff;

  /* 灰度 */
  --gray-0: rgba(0, 0, 0, 0.06);
  --gray-1: rgba(0, 0, 0, 0.15);
  --gray-2: rgba(0, 0, 0, 0.25);
  --gray-3: rgba(0, 0, 0, 0.35);
  --gray-4: rgba(0, 0, 0, 0.45);
  --gray-5: rgba(0, 0, 0, 0.55);
  --gray-6: rgba(0, 0, 0, 0.65);
  --gray-7: rgba(0, 0, 0, 0.75);
  --gray-8: rgba(0, 0, 0, 0.85);
  --gray-9: rgba(0, 0, 0, 0.95);
  --gray-x: rgba(0, 0, 0);

  --scrollbar-thumb--border-color: transparent;
  --scrollbar-thumb--background-color: rgba(226, 226, 226);
  --scrollbar-track-piece--background-color: rgba(255, 255, 255);
}

.dartTheme {
  --color-primary: #177ddc;
  --base-color: #000;

  --gray-0: rgba(255, 255, 255, 0.12);
  --gray-1: rgba(255, 255, 255, 0.21);
  --gray-2: rgba(255, 255, 255, 0.31);
  --gray-3: rgba(255, 255, 255, 0.41);
  --gray-4: rgba(255, 255, 255, 0.51);
  --gray-5: rgba(255, 255, 255, 0.61);
  --gray-6: rgba(255, 255, 255, 0.71);
  --gray-7: rgba(255, 255, 255, 0.81);
  --gray-8: rgba(255, 255, 255, 0.91);
  --gray-9: rgba(255, 255, 255, 1);
  --gray-x: rgba(255, 255, 255);

  --scrollbar-thumb--background-color: rgba(255, 255, 255, 0.33);
  --scrollbar-track-piece--background-color: rgba(255, 255, 255, 0.06);
}

.unselectable {
  user-select: none;
}
