.index {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;

  .sourceBox,
  .targetBox {
    line-height: 1.6;
    padding: 12px;
  }

  .sourceBox {
    height: 180px;
    textarea {
      width: 100%;
      height: 100%;
      line-height: 1.6;
    }
  }

  .targetBox {
    overflow-x: hidden;
    .err {
      color: red;
    }
  }

  .toolbarBox {
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background: rgba($color: #000000, $alpha: 0.03);
    margin: 0 12px;
    border-radius: 8px;
    .icon {
      padding: 0 8px;
    }
  }
}

.dark {
  background: #000;
  .toolbarBox {
    background: rgba($color: #ffffff, $alpha: 0.06);
  }
}

