.index {
  background: var(--base-color);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 12px;
  display: flex;
  flex-direction: column;

  .title {
    cursor: pointer;
    &:hover {
      color: var(--color-primary);
    }
  }

  textarea {
    width: 100%;
    height: 360px;
    border-radius: 12px;
    padding: 12px;
    border: 1px solid var(--gray-0);
  }

  .actions {
    margin-top: 12px;
  }
}

.dark {
}
