.index {
  background: var(--gray-0);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 12px;
  display: flex;
  flex-direction: column;

  .title {
    cursor: pointer;
    &:hover {
      color: var(--color-primary);
    }
  }

  .actions {
    margin-top: 12px;
  }
}

