@font-face {
  font-family: "icon";
  src: url('icon.eot?t=1678438049799'); /* IE9*/
  src: url('icon.eot?t=1678438049799#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("icon.woff2?t=1678438049799") format("woff2"),
  url("icon.woff?t=1678438049799") format("woff"),
  url('icon.ttf?t=1678438049799') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('icon.svg?t=1678438049799#icon') format('svg'); /* iOS 4.1- */
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icon' !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-chat:before { content: "\ea01"; }
.icon-delete:before { content: "\ea02"; }
.icon-github:before { content: "\ea03"; }
.icon-menu:before { content: "\ea04"; }
.icon-robot:before { content: "\ea05"; }
.icon-setting:before { content: "\ea06"; }
.icon-template:before { content: "\ea07"; }
.icon-translation:before { content: "\ea08"; }
