@font-face {
  font-family: "icon";
  src: url('icon.eot?t=1676181398539'); /* IE9*/
  src: url('icon.eot?t=1676181398539#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("icon.woff2?t=1676181398539") format("woff2"),
  url("icon.woff?t=1676181398539") format("woff"),
  url('icon.ttf?t=1676181398539') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('icon.svg?t=1676181398539#icon') format('svg'); /* iOS 4.1- */
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icon' !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-chat:before { content: "\ea08"; }
.icon-delete:before { content: "\ea09"; }
.icon-github:before { content: "\ea0a"; }
.icon-menu:before { content: "\ea0b"; }
.icon-robot:before { content: "\ea0c"; }
.icon-setting:before { content: "\ea0d"; }
.icon-template:before { content: "\ea0e"; }
